finasy_rfa_data/My_workflow_V3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "",
          "readStatus": "unread",
          "sender": "todomundo@nubank.com.br"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -520
      ],
      "id": "777d216f-10ce-4b79-b9d2-fe7c1aeb0dcd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "w2qVtx1MJd1BSwkp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Lista que armazenará os itens processados (cada anexo será um item independente)\nresults = []\n\n# Itera sobre cada e-mail capturado pelo Gmail Trigger\nfor email in items:\n\t# Acessa os dados binários (anexos) do e-mail\n\tbinary_data = email['binary']\n\t# Obtém o ID do e-mail original a partir da saída do trigger\n\toriginal_email_id = email['json']['id']\n\n\t# Itera sobre cada chave (nome do arquivo) nos anexos\n\tfor file_key in binary_data:\n\t\t# Cria um NOVO ITEM para cada anexo\n\t\tnew_item = {\n\t\t\t'json': {\n\t\t\t\t'originalEmailId': original_email_id,\n\t\t\t\t'fileName': binary_data[file_key]['fileName'],\n\t\t\t\t'mimeType': binary_data[file_key]['mimeType'],\n\t\t\t\t'emailSubject': email['json']['subject']\n\t\t\t},\n\t\t\t'binary': {\n\t\t\t\t'data': {\n\t\t\t\t\t'data': binary_data[file_key]['data'],\n\t\t\t\t\t'mimeType': binary_data[file_key]['mimeType'],\n\t\t\t\t\t'fileName': binary_data[file_key]['fileName']\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t\tresults.append(new_item)\n\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1380,
        -520
      ],
      "id": "b3b09ba2-91f8-45cd-8a53-320fcd2ac989",
      "name": "Code (Extract Attachments)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/shared_staging/{{ $json.fileName }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1140,
        -520
      ],
      "id": "f70998b1-d052-47af-9844-f16afcb18fcf",
      "name": "Save Attachment to Staging"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parser_service_rfa:5000/parse_pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filePath",
              "value": "={{ $json.fileName }}"
            },
            {
              "name": "fileName",
              "value": "={{ $('Code (Extract Attachments)').item.json.fileName }}"
            },
            {
              "name": "originalEmailId",
              "value": "={{ $('Code (Extract Attachments)').item.json.originalEmailId }}"
            },
            {
              "name": "emailSubject",
              "value": "={{ $json.emailSubject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -900,
        -520
      ],
      "id": "c8d6c566-7e4a-4205-b089-8ea9cad14ba6",
      "name": "HTTP Request (Call Parser Service)"
    },
    {
      "parameters": {
        "chatId": "5302038938",
        "text": "={{ $json.transactionCount }} transações encontradas na fatura Total: R$ {{ $json.invoiceTotal }}. Vencimento: {{ $json.dueDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -640,
        -720
      ],
      "id": "1f22d60e-35db-4206-ad12-f4dc580865d6",
      "name": "Telegram Notification",
      "webhookId": "e5211e39-f61b-4bc6-98fd-7d49fa8babb5",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "I5WFjV3S0k3LRxRU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.originalEmailId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -640,
        -520
      ],
      "id": "51bcf2d8-6423-43fc-8585-fe45f38a0f2a",
      "name": "Gmail",
      "webhookId": "e0c91aeb-7913-4994-ae8e-06ad9947f4e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "w2qVtx1MJd1BSwkp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "core_transaction",
          "mode": "list",
          "cachedResultName": "core_transaction"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_recurring_payment": false,
            "date": "={{ $json.transactions[1].date }}",
            "amount": "={{ $json.transactions[0].amount }}",
            "description": "={{ $json.transactions[1].description }}",
            "reference_month": "={{ $json.dueDate }}",
            "reference_year": "={{ $json.dueDate }}",
            "status": "='N'",
            "type": "='W'",
            "user_id": 2,
            "account_id": 38,
            "created_at": "2025-05-06T00:00:00",
            "updated_at": "2025-05-06T00:00:00",
            "id": 0,
            "category_id": 0,
            "payee_payer_id": 0,
            "recurring_expense_ref_id": 0,
            "transfer_to_account_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_recurring_payment",
              "displayName": "is_recurring_payment",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "reference_month",
              "displayName": "reference_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reference_year",
              "displayName": "reference_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "payee_payer_id",
              "displayName": "payee_payer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "recurring_expense_ref_id",
              "displayName": "recurring_expense_ref_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transaction_number",
              "displayName": "transaction_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transfer_to_account_id",
              "displayName": "transfer_to_account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        -160
      ],
      "id": "dd7d1af2-7005-40b3-a634-852500354db5",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "JBCN6txcbThrVjxj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "302aef73-d704-49a9-9d4c-c92393952147",
              "name": "=reference_month",
              "value": "={{ $('HTTP Request (Call Parser Service)').item.json.dueDate.split('-')[1] }} ",
              "type": "string"
            },
            {
              "id": "af6f8371-6b73-4c70-8c56-3621de230a07",
              "name": "reference_year",
              "value": "={{ $('HTTP Request (Call Parser Service)').item.json.dueDate.split('-')[0] }}",
              "type": "string"
            },
            {
              "id": "ad6a5467-cd33-4f2e-8cb0-05b7a4a1680c",
              "name": "notes",
              "value": "={{ $json.description.includes('Parcela') ? $json.description.split(' - ')[1] : null }} ",
              "type": "string"
            },
            {
              "id": "5dcbe8ff-5138-4e1f-8ece-3b0afd5f49e5",
              "name": "created_at",
              "value": "={{ $now }} ",
              "type": "string"
            },
            {
              "id": "16f3a684-1606-4be8-b9e1-fe56c730cd9c",
              "name": "updated_at",
              "value": "={{ $now }} ",
              "type": "string"
            },
            {
              "id": "cf7b45c7-d719-4db4-86e9-496ba2141d17",
              "name": "status",
              "value": "='N'",
              "type": "string"
            },
            {
              "id": "dab84949-7549-4aa8-8a0a-167d311cbea8",
              "name": "origin",
              "value": "='cartao'",
              "type": "string"
            },
            {
              "id": "a293570d-0231-4623-83b9-8cb8b076c83d",
              "name": "account_id",
              "value": "38",
              "type": "string"
            },
            {
              "id": "f7a93b39-759e-4717-9d01-4d9eee4109e6",
              "name": "user_id",
              "value": "2",
              "type": "string"
            },
            {
              "id": "0ea36e89-34f9-4fc5-b250-d8c5ca85e6e6",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "3894c2b9-31e5-46f0-90d1-7bd795788d0b",
              "name": "=item_index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        -180
      ],
      "id": "658c1463-8807-48ac-a0a6-4fee429e7f12",
      "name": "Edit Fields",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "=transactions",
        "options": {
          "destinationFieldName": ""
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1620,
        -180
      ],
      "id": "60358156-6fa3-4762-a6f5-3f223cfa3ad9",
      "name": "Split Out Transactions",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d302f0a-c04e-45c3-b6c8-25068146c1e0",
              "leftValue": "={{ $items() !== null && $items().length > 0 }}",
              "rightValue": "True",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -180
      ],
      "id": "1193002a-eeb7-4aa3-9a6a-6d792488f879",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "265bd917-a32c-4f32-b47b-2e7c8534279f",
              "name": "payee_payer_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -260
      ],
      "id": "32bd0d44-5d63-4a97-bc46-4cf772e0f734",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3ff6401-6aaf-4f93-8ef8-dc01fa1227f0",
              "name": "payee_payer_id",
              "value": "1975",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -100
      ],
      "id": "8e2c05bc-e202-4d98-8de2-29744f5f67fe",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        60,
        -160
      ],
      "id": "5b94ac48-42dd-4b8b-9bc3-e8bc7d7fe4f5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "core_transaction",
          "mode": "list",
          "cachedResultName": "core_transaction"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "description",
              "condition": "LIKE",
              "value": "={{ $('Split Out Transactions').item.json.description.match(/^(.*?) - Parcela/)[1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1140,
        140
      ],
      "id": "7cb35fcb-d790-4f55-814c-ca6dc89c801e",
      "name": "Postgres2",
      "credentials": {
        "postgres": {
          "id": "JBCN6txcbThrVjxj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d302f0a-c04e-45c3-b6c8-25068146c1e0",
              "leftValue": "={{ $items() !== null && $items().length > 0 }}",
              "rightValue": "True",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        140
      ],
      "id": "2de1ea25-cdf4-4d8f-b31f-dad5de8d7055",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "265bd917-a32c-4f32-b47b-2e7c8534279f",
              "name": "category_id",
              "value": "={{ $json.category_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        60
      ],
      "id": "365500cd-5004-4c2d-b09c-5500f3a8e2a5",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95d9ffb5-3ca4-4bbd-ae6e-6c79f0d073b8",
              "name": "category_id",
              "value": "358",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        240
      ],
      "id": "db164d22-0ff5-45cf-88ef-561837b32688",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -380,
        160
      ],
      "id": "6803b58e-b151-42bd-b070-2f6a4380a3f2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Este script recebe a lista de dicionários retornada pelo nó Postgres (Search Payee)\n# items contém a lista de dicionários\n\noutput_items = []\n\n# Itera sobre os dicionários retornados pelo Postgres\nfor i, result_dict in enumerate(items):\n    # Acessa o item_index original do item de entrada para este nó Code\n    # O item de entrada para este nó Code é o resultado da busca no Postgres.\n    # O item_index original está no contexto do item de entrada.\n    original_item_index = None\n    # Acessa o item de entrada do n8n para este item de resultado\n    # No nó Code, o item de entrada correspondente ao item de saída atual é item.context.item\n    # No contexto, o item_index original é geralmente acessível via item.context.item.json.item_index\n    # ou item.context.itemIndex\n\n    # Tentativa 1: Acessar do contexto do item de entrada (formato item.context.item.json.item_index)\n    # Verifica se o item de entrada existe no contexto e tem a estrutura esperada\n    if hasattr(result_dict, 'context') and result_dict.context and 'item' in result_dict.context and \\\n       hasattr(result_dict.context['item'], 'json') and result_dict.context['item'].json and \\\n       'item_index' in result_dict.context['item'].json:\n         original_item_index = result_dict.context['item'].json['item_index']\n    # Tentativa 2: Acessar do contexto do item de entrada (formato item.context.itemIndex)\n    elif hasattr(result_dict, 'context') and result_dict.context and 'itemIndex' in result_dict.context:\n         original_item_index = result_dict.context['itemIndex']\n    # Tentativa 3: Acessar diretamente do item (menos provável para resultados de DB)\n    # Esta tentativa é menos relevante agora que sabemos que a entrada são dicionários crus\n    # elif hasattr(result_dict, 'json') and result_dict.json and 'item_index' in result_dict.json:\n    #      original_item_index = result_dict.json['item_index']\n\n\n    # Adiciona o item_index original ao dicionário de saída\n    # Modifica o dicionário diretamente\n    result_dict['original_item_index'] = original_item_index\n\n    # Adiciona o dicionário modificado à lista de saída\n    # O nó Code retorna dicionários como itens com .json\n    output_items.append({'json': result_dict})\n\n# Retorna a lista de itens (com .json) contendo os dicionários do Postgres + original_item_index\nreturn output_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        -300
      ],
      "id": "df0f9747-c477-4037-95fc-673c95004405",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\n# Este script recebe duas entradas:\n# items[0] contém os itens da primeira entrada conectada (do nó Set Transaction Fields)\n# items[1] contém os itens da segunda entrada conectada (do nó Code (Add item_index to Payee Results))\n\n# Acessa as listas de itens de cada entrada\noriginal_items = items[0] if items and len(items) > 0 and items[0] is not None else []\n# Acessa a lista de ITENS do n8n que vêm da segunda entrada (do NOVO nó Code)\npayee_result_items = items[1] if items and len(items) > 1 and items[1] is not None else []\n\noutput_items = []\n\n# Cria um dicionário para buscar rapidamente os resultados da busca pelo item_index original\n# A chave será o original_item_index, o valor será o dicionário do resultado da busca\npayee_lookup_by_index = {}\n# Itera sobre os ITENS do n8n que vêm da segunda entrada\nfor item in payee_result_items:\n    # Acessa o original_item_index do JSON do item (adicionado pelo NOVO nó Code)\n    original_idx = item.json.get('original_item_index') if hasattr(item, 'json') and item.json else None\n    if original_idx is not None:\n        payee_lookup_by_index[original_idx] = item.json # Armazena o dicionário do resultado da busca\n    else:\n        print(f\"Aviso: Item de resultado de busca sem original_item_index ou json: {item}\", file=sys.stderr)\n\n\n# Itera sobre os itens originais (as transações)\nfor i, original_item in enumerate(original_items):\n    # O item_index foi adicionado no nó Set Transaction Fields\n    item_index = original_item.json.get('item_index') if hasattr(original_item, 'json') and original_item.json else None\n\n    # Verifica se há um resultado de busca correspondente para este item_index no lookup\n    found_payee_data = None\n    if item_index is not None:\n        found_payee_data = payee_lookup_by_index.get(item_index)\n\n    # Adiciona os dados do terceiro encontrado (se houver) ao JSON do item original\n    if not hasattr(original_item, 'json') or original_item.json is None:\n         original_item.json = {}\n\n    if found_payee_data:\n        # Adiciona os dados do terceiro encontrado a um novo campo no item original\n        original_item.json['found_payee_data'] = found_payee_data # Adiciona o dicionário do resultado da busca\n    else:\n        original_item.json['found_payee_data'] = None # Indica que nenhum terceiro foi encontrado\n\n    # Adiciona o item original (agora com ou sem dados do terceiro encontrado) à lista de saída\n    output_items.append(original_item)\n\n# Retorna a lista de itens modificados para o próximo nó no workflow\nreturn output_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -180
      ],
      "id": "daf7ce43-0200-43d2-8388-d418b6aea382",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "pairedItem.item",
              "field2": "item_index"
            }
          ]
        },
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1020,
        -80
      ],
      "id": "f4fa4d61-99b3-4895-a2eb-d404bb181e89",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "core_payeepayer",
          "mode": "list",
          "cachedResultName": "core_payeepayer"
        },
        "where": {
          "values": [
            {
              "column": "name",
              "condition": "LIKE",
              "value": "={{ $('Split Out Transactions').item.json.description.match(/^(?:Mp \\*|Dm \\*|Pg \\*|\\*|\\s*)(.*?)(?: - Parcela.*|\\s*$)/)?.[1]?.trim() || $json.description.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1220,
        -300
      ],
      "id": "f9281298-ee48-48bb-bf7d-3b0f9bbbd338",
      "name": "Postgres (Search Payee)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JBCN6txcbThrVjxj",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code (Extract Attachments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Extract Attachments)": {
      "main": [
        [
          {
            "node": "Save Attachment to Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Attachment to Staging": {
      "main": [
        [
          {
            "node": "HTTP Request (Call Parser Service)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Call Parser Service)": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Transactions": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres (Search Payee)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        []
      ]
    },
    "Postgres (Search Payee)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b9882f25-982e-43b1-9f04-a467e60d8905",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dc0039cd964bb558e3cf6baca2759a85b34bc70753f389defcfd1d21f5543c5"
  },
  "id": "NuiWafwmHxhzkqwa",
  "tags": []
}